# 2.3- Data Preparation - All

Get Dummies for Both (Train + Test)

In [1]:
import pandas as pd
import numpy as np

In [2]:
Train =  pd.read_csv("datasets/TrainFeatureEngined.csv")
Test =  pd.read_csv("datasets/TestFeatureEngined.csv")

In [3]:
Train.head()

,Category,Rating,Reviews,Type,Content Rating,Genres,SizeNew,InstallsNew,PriceNew,LastUpdatedNewYear,LastUpdatedNewMonth,LastUpdatedNewDay,AndroidVerNew,ReviewGroupNew
0,TRAVEL_AND_LOCAL,1.0,149723,0,Everyone,Travel & Local,0.041000,10000000,0.0,2018,6,13,4.000000,3
1,LIFESTYLE,0.0,853,0,Everyone,Lifestyle,0.340000,100000,0.0,2018,3,22,4.100000,1
2,FOOD_AND_DRINK,1.0,61881,0,Everyone,Food & Drink,0.372354,5000000,0.0,2018,4,10,3.831783,3
3,TOOLS,0.0,21943,0,Everyone,Tools,0.023000,5000000,0.0,2016,10,19,2.300000,2
4,FAMILY,1.0,6,0,Everyone,Education,0.092000,1000,0.0,2018,1,24,4.100000,0

In [4]:
Train.shape

(5788, 14)

In [5]:
Test.head()

,Category,Reviews,Type,Content Rating,Genres,SizeNew,InstallsNew,PriceNew,LastUpdatedNewYear,LastUpdatedNewMonth,LastUpdatedNewDay,AndroidVerNew,ReviewGroupNew
0,LIFESTYLE,10,0,Everyone,Lifestyle,0.030000,1000,0.0,2018,1,14,4.100000,0
1,PERSONALIZATION,7146,0,Everyone 10+,Personalization,0.140000,1000000,0.0,2018,2,2,4.000000,2
2,SHOPPING,2221,0,Everyone,Shopping,0.392887,100000,0.0,2018,7,10,3.837752,2
3,SHOPPING,21,0,Everyone,Shopping,0.025000,100,0.0,2017,10,31,4.200000,0
4,TRAVEL_AND_LOCAL,2822,0,Everyone,Travel & Local,0.270000,100000,0.0,2018,7,27,4.100000,2

In [6]:
Test.shape

(1448, 13)

In [7]:
# I have to do this because train and test datasets finalice with a different number 
# of columns after doing dummy encopding with datasets separated
# im following this technicque: https://medium.com/@vaibhavshukla182/how-to-solve-mismatch-in-train-and-test-set-after-categorical-encoding-8320ed03552f

class GetDummies():
    
    def __init__(self, train, test):
        self.train = train
        self.test = test
    
    # Dummy encoding    
    def dummy_encoding(self, column_name):
        self.train['train'] = 1
        self.test['train'] = 0
        
        combined = pd.concat([self.train, self.test])
        column_encoded = pd.get_dummies(combined[column_name])
        column_encoded.columns = ['{}_{}'.format(column_name, x) for x in column_encoded.columns]
        
        combined = pd.concat([combined, column_encoded], axis=1)
        
        train = combined[combined['train'] == 1]
        test = combined[combined['train'] == 0]
        
        train.drop(['train'], axis=1, inplace=True)
        test.drop(['train'], axis=1, inplace=True)
        
        return train, test

In [8]:
get_dummies_instance = GetDummies(Train, Test)

In [9]:
train_encoded, test_encoded = get_dummies_instance.dummy_encoding('Category')

C:\Users\porta\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [10]:
train_encoded.head()

,Category,Rating,Reviews,Type,Content Rating,Genres,SizeNew,InstallsNew,PriceNew,LastUpdatedNewYear,...,Category_PERSONALIZATION,Category_PHOTOGRAPHY,Category_PRODUCTIVITY,Category_SHOPPING,Category_SOCIAL,Category_SPORTS,Category_TOOLS,Category_TRAVEL_AND_LOCAL,Category_VIDEO_PLAYERS,Category_WEATHER
0,TRAVEL_AND_LOCAL,1.0,149723,0,Everyone,Travel & Local,0.041000,10000000,0.0,2018,...,0,0,0,0,0,0,0,1,0,0
1,LIFESTYLE,0.0,853,0,Everyone,Lifestyle,0.340000,100000,0.0,2018,...,0,0,0,0,0,0,0,0,0,0
2,FOOD_AND_DRINK,1.0,61881,0,Everyone,Food & Drink,0.372354,5000000,0.0,2018,...,0,0,0,0,0,0,0,0,0,0
3,TOOLS,0.0,21943,0,Everyone,Tools,0.023000,5000000,0.0,2016,...,0,0,0,0,0,0,1,0,0,0
4,FAMILY,1.0,6,0,Everyone,Education,0.092000,1000,0.0,2018,...,0,0,0,0,0,0,0,0,0,0

In [11]:
test_encoded.head()

,Category,Rating,Reviews,Type,Content Rating,Genres,SizeNew,InstallsNew,PriceNew,LastUpdatedNewYear,...,Category_PERSONALIZATION,Category_PHOTOGRAPHY,Category_PRODUCTIVITY,Category_SHOPPING,Category_SOCIAL,Category_SPORTS,Category_TOOLS,Category_TRAVEL_AND_LOCAL,Category_VIDEO_PLAYERS,Category_WEATHER
0,LIFESTYLE,NaN,10,0,Everyone,Lifestyle,0.030000,1000,0.0,2018,...,0,0,0,0,0,0,0,0,0,0
1,PERSONALIZATION,NaN,7146,0,Everyone 10+,Personalization,0.140000,1000000,0.0,2018,...,1,0,0,0,0,0,0,0,0,0
2,SHOPPING,NaN,2221,0,Everyone,Shopping,0.392887,100000,0.0,2018,...,0,0,0,1,0,0,0,0,0,0
3,SHOPPING,NaN,21,0,Everyone,Shopping,0.025000,100,0.0,2017,...,0,0,0,1,0,0,0,0,0,0
4,TRAVEL_AND_LOCAL,NaN,2822,0,Everyone,Travel & Local,0.270000,100000,0.0,2018,...,0,0,0,0,0,0,0,1,0,0

In [12]:
train_encoded, test_encoded = get_dummies_instance.dummy_encoding('Content Rating')

C:\Users\porta\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [13]:
train_encoded, test_encoded = get_dummies_instance.dummy_encoding('Genres')

C:\Users\porta\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [14]:
train_encoded.head()

,Category,Rating,Reviews,Type,Content Rating,Genres,SizeNew,InstallsNew,PriceNew,LastUpdatedNewYear,...,Genres_Strategy;Education,Genres_Tools,Genres_Tools;Education,Genres_Travel & Local,Genres_Travel & Local;Action & Adventure,Genres_Trivia,Genres_Video Players & Editors,Genres_Video Players & Editors;Music & Video,Genres_Weather,Genres_Word
0,TRAVEL_AND_LOCAL,1.0,149723,0,Everyone,Travel & Local,0.041000,10000000,0.0,2018,...,0,0,0,1,0,0,0,0,0,0
1,LIFESTYLE,0.0,853,0,Everyone,Lifestyle,0.340000,100000,0.0,2018,...,0,0,0,0,0,0,0,0,0,0
2,FOOD_AND_DRINK,1.0,61881,0,Everyone,Food & Drink,0.372354,5000000,0.0,2018,...,0,0,0,0,0,0,0,0,0,0
3,TOOLS,0.0,21943,0,Everyone,Tools,0.023000,5000000,0.0,2016,...,0,1,0,0,0,0,0,0,0,0
4,FAMILY,1.0,6,0,Everyone,Education,0.092000,1000,0.0,2018,...,0,0,0,0,0,0,0,0,0,0

In [15]:
test_encoded.head()

,Category,Rating,Reviews,Type,Content Rating,Genres,SizeNew,InstallsNew,PriceNew,LastUpdatedNewYear,...,Genres_Strategy;Education,Genres_Tools,Genres_Tools;Education,Genres_Travel & Local,Genres_Travel & Local;Action & Adventure,Genres_Trivia,Genres_Video Players & Editors,Genres_Video Players & Editors;Music & Video,Genres_Weather,Genres_Word
0,LIFESTYLE,NaN,10,0,Everyone,Lifestyle,0.030000,1000,0.0,2018,...,0,0,0,0,0,0,0,0,0,0
1,PERSONALIZATION,NaN,7146,0,Everyone 10+,Personalization,0.140000,1000000,0.0,2018,...,0,0,0,0,0,0,0,0,0,0
2,SHOPPING,NaN,2221,0,Everyone,Shopping,0.392887,100000,0.0,2018,...,0,0,0,0,0,0,0,0,0,0
3,SHOPPING,NaN,21,0,Everyone,Shopping,0.025000,100,0.0,2017,...,0,0,0,0,0,0,0,0,0,0
4,TRAVEL_AND_LOCAL,NaN,2822,0,Everyone,Travel & Local,0.270000,100000,0.0,2018,...,0,0,0,1,0,0,0,0,0,0

### Drop Original Columns

In [16]:
train_encoded.drop(['Category', 'Content Rating', 'Genres'], axis=1, inplace=True)

In [17]:
train_encoded.head()

,Rating,Reviews,Type,SizeNew,InstallsNew,PriceNew,LastUpdatedNewYear,LastUpdatedNewMonth,LastUpdatedNewDay,AndroidVerNew,...,Genres_Strategy;Education,Genres_Tools,Genres_Tools;Education,Genres_Travel & Local,Genres_Travel & Local;Action & Adventure,Genres_Trivia,Genres_Video Players & Editors,Genres_Video Players & Editors;Music & Video,Genres_Weather,Genres_Word
0,1.0,149723,0,0.041000,10000000,0.0,2018,6,13,4.000000,...,0,0,0,1,0,0,0,0,0,0
1,0.0,853,0,0.340000,100000,0.0,2018,3,22,4.100000,...,0,0,0,0,0,0,0,0,0,0
2,1.0,61881,0,0.372354,5000000,0.0,2018,4,10,3.831783,...,0,0,0,0,0,0,0,0,0,0
3,0.0,21943,0,0.023000,5000000,0.0,2016,10,19,2.300000,...,0,1,0,0,0,0,0,0,0,0
4,1.0,6,0,0.092000,1000,0.0,2018,1,24,4.100000,...,0,0,0,0,0,0,0,0,0,0

In [18]:
train_encoded.shape

(5788, 125)

In [19]:
test_encoded.drop(['Category', 'Content Rating', 'Genres', 'Rating'], axis=1, inplace=True)

In [20]:
test_encoded.head()

,Reviews,Type,SizeNew,InstallsNew,PriceNew,LastUpdatedNewYear,LastUpdatedNewMonth,LastUpdatedNewDay,AndroidVerNew,ReviewGroupNew,...,Genres_Strategy;Education,Genres_Tools,Genres_Tools;Education,Genres_Travel & Local,Genres_Travel & Local;Action & Adventure,Genres_Trivia,Genres_Video Players & Editors,Genres_Video Players & Editors;Music & Video,Genres_Weather,Genres_Word
0,10,0,0.030000,1000,0.0,2018,1,14,4.100000,0,...,0,0,0,0,0,0,0,0,0,0
1,7146,0,0.140000,1000000,0.0,2018,2,2,4.000000,2,...,0,0,0,0,0,0,0,0,0,0
2,2221,0,0.392887,100000,0.0,2018,7,10,3.837752,2,...,0,0,0,0,0,0,0,0,0,0
3,21,0,0.025000,100,0.0,2017,10,31,4.200000,0,...,0,0,0,0,0,0,0,0,0,0
4,2822,0,0.270000,100000,0.0,2018,7,27,4.100000,2,...,0,0,0,1,0,0,0,0,0,0

In [21]:
test_encoded.shape

(1448, 124)

In [22]:
train_encoded.to_csv("datasets/TrainEncoded.csv", index=False)
test_encoded.to_csv("datasets/TestEncoded.csv", index=False)